.bb{
    display: inline-block;
    width: 100px;
    height: 150px;
    background-color: #eeeff2;
    border-left: dotted 10px #d0d0ff;
    font-size: 40px;
    font-family: tahoma;
    padding: 10px 10px;
    margin-right: 10px;
}
.bb:hover{
    background-color: yellow;
    color: goldenrod;
    cursor: pointer;
}

.box{
    position: relative;
    justify-content: space-between;
    white-space: nowrap;
}
#f{
    position: fixed;
    right: 0;
    bottom: 0;
}