.bb{
    width: 100px;
    height: 100px;
    font-size: 40px;
    font-family: Tahoma;
    border-top: solid 1px;


    text-align: center;
    border-color: #687291;
}
#a, #c, #e{
    background-color: #dfe1e7;
/*    position:static; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% auto 2%;
}
#b, #d{
    background-color: #eeeff2;
    position: static;
    margin: 2% auto 2%;
}
#f{
    background-color: #687291;
    border: solid black 4px ;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
}